@charset "UTF-8";
/*
 * Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
 *
 */
/*
 * Colors
 */
/*
 * sarcasm-theme.el colors
 */
/* "High" colors */
/* black           */
/* white           */
/* firebrick       */
/* lime green      */
/* DodgerBlue2     */
/* yellow2         */
/* orange          */
/* deep pink       */
/* maroon          */
/* saddle brown    */
/* gray30          */
/* cornflower blue */
/* Soft colors */
/* grey10          */
/* white smoke     */
/* DarkGoldenrod2  */
/* Dark colors */
/* grey17          */
/* dark red        */
/* chocolate       */
/* Bright colors */
/* grey60          */
/*
 * Attributes
 */
.org-bold, .org-regexp-grouping-backslash
.org-regexp-grouping-construct, .org-org-checkbox {
  /* bold */
  font-weight: bold;
}

.org-italic {
  /* italic */
  font-style: italic;
}

.org-underline {
  /* underline */
  text-decoration: underline;
}

.org-shadow, .org-org-code
.org-org-block, .org-org-verbatim, .org-diff-context {
  /* shadow */
  color: #999999;
}

.org-link, .org-org-link {
  /* (FIXME: good name ?) */
  /* link */
  color: #4477aa;
  text-decoration: underline;
}

/*
 * Font Lock
 */
.org-builtin, .org-preprocessor {
  /* font-lock-builtin-face */
  color: #4477aa;
}

.org-comment, .org-comment-delimiter, .org-org-meta-line, .org-org-block-begin-line
.org-org-block-end-line {
  /* font-lock-comment-face */
  color: #b22222;
  font-style: italic;
}

.org-comment-delimiter {
  /* font-lock-comment-delimiter-face */
}

.org-constant {
  /* font-lock-constant-face */
  color: #ff1493;
  font-weight: bold;
}

.org-string, .org-doc, .org-sh-escaped-newline
.org-tex-math {
  /* font-lock-string-face */
  color: #b03060;
}

.org-doc {
  /* font-lock-doc-face */
  font-style: italic;
}

.org-function-name, .org-makefile-targets
.org-nxml-element-local-name {
  /* font-lock-function-name-face */
  color: #4477aa;
  font-weight: bold;
}

.org-keyword, .org-org-special-keyword {
  /* font-lock-keyword-face */
  color: #6495ed;
  font-weight: bold;
}

.org-preprocessor {
  /* font-lock-preprocessor-face */
  color: #d2691e;
  font-weight: bold;
}

.org-regexp-grouping-backslash
.org-regexp-grouping-construct {
  /* font-lock-regexp-grouping-construct */
}

.org-type {
  /* font-lock-type-face */
  color: #d2691e;
  font-weight: bold;
}

.org-variable-name {
  /* font-lock-variable-name-face */
  color: #ff1493;
}

.org-warning {
  /* font-lock-warning-face */
  color: #b22222;
  font-weight: bold;
}

/*
 * Org
 */
.org-org-todo, .org-org-checkbox-statistics-todo {
  /* org-todo */
  color: #b22222;
  font-weight: bold;
}

.org-org-checkbox-statistics-todo {
  /* org-checkbox-statistics-todo */
}

.org-org-checkbox {
  /* org-checkbox */
}

.org-org-code
.org-org-block {
  /* org-block */
}

.org-org-block-background {
  /* org-block-background */
}

.org-org-meta-line, .org-org-block-begin-line
.org-org-block-end-line {
  /* org-meta-line */
}

.org-org-block-begin-line
.org-org-block-end-line {
  /* org-block-end-line */
}

.org-org-date {
  /* TODO: Set a color in sarcasm-theme.el */
  /* org-date */
  color: #00ffff;
  text-decoration: underline;
}

.org-org-document-info {
  /* org-document-info */
  color: #6495ed;
}

.org-org-hide {
  /* org-hide */
  color: #f5f5f5;
}

.org-org-document-info-keyword {
  /* org-document-info-keyword */
  color: #d2691e;
}

.org-org-document-title {
  /* org-document-title */
  color: #ffa500;
  font-size: 144%;
  font-weight: bold;
}

.org-org-footnote {
  /* TODO: set org-footnote face */
  /* org-footnote */
  color: #00ffff;
  text-decoration: underline;
}

.org-org-verbatim {
  /* org-verbatim */
}

.org-org-formula {
  /* TODO: set org-forma face */
  /* org-formula */
  color: #ff7f24;
}

/* TODO: create outline-[134] faces and make org-level-[1234] extend
   the faces */
.org-org-level-1 {
  /* org-level-1 */
  color: #4477aa;
  font-weight: bold;
}

.org-org-level-2 {
  /* org-level-2 */
  color: #ff1493;
}

.org-org-level-3 {
  /* org-level-3 */
  color: #6495ed;
  font-weight: bold;
}

.org-org-level-4 {
  /* org-level-4 */
  color: #b22222;
  font-style: italic;
}

.org-org-link {
  /* org-link */
}

.org-org-property-value {
  /* org-property-value */
}

.org-org-special-keyword {
  /* org-special-keyword */
}

.org-org-table {
  /* TODO: customize this face */
  /* org-table */
  color: #87cefa;
}

.org-org-tag {
  /* org-tag */
  font-weight: bold;
}

/*
 * Garbage...
 */
.ATTRLIST {
  /* (:strike-through t) */
  text-decoration: line-through;
}

.ATTRLIST-1 {
  /* (:strike-through t org-table) */
  text-decoration: line-through;
}

.org-sh-escaped-newline
.org-tex-math {
  /* tex-math */
}

.org-sh-quoted-exec {
  /* sh-quoted-exec */
  color: #fa8072;
}

.org-diff-context {
  /* diff-context */
}

.org-makefile-targets
.org-nxml-element-local-name {
  /* nxml-element-local-name */
}

/*
 * .org-nxml-delimiter {
 * /\* nxml-delimiter *\/
 * }
 * .org-nxml-tag-delimiter         /\* nxml-tag-delimiter *\/
 * .org-nxml-tag-slash {           /\* nxml-tag-slash *\/
 *     @extend .org-nxml-delimiter;
 * }
 */
/* fff8dc */
/* Picked up in the Org-Mode unicorn logo */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * Import sprites
 */
/*
 * @import "icons/\*.png";
 * @include all-icons-sprites;
 */
/*
 * General
 */
body {
  font-family: 'Rosario', serif;
  background-color: #fafdff;
  color: #2b2b2b;
  line-height: 1.4em;
}

.logo-div {
  margin: 0 auto;
  text-align: center;
  padding: 20px 10px;
}

.logo {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.logo:hover {
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -o-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

article {
  max-width: 750px;
  width: expression(this.width > 750 ? 750: true);
  text-align: justify;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 2em;
}

footer {
  max-width: 750px;
  width: expression(this.width > 750 ? 750: true);
  margin: 15px auto;
  padding: 10px;
}

.copyright {
  text-align: center;
}

p {
  margin: 1em 0;
}

a {
  color: maroon;
  text-decoration: none;
}

a:hover {
  color: maroon;
  /* text-decoration: underline; */
}

article a:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  color: #fafdff;
  background-color: maroon;
  text-decoration: none;
}

h1, h1 a, h2, h3, h4, h5, h6 {
  text-align: left;
  color: #4682b4;
  font-weight: bolder;
  font-family: 'Rosario', serif;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

h1 a {
  text-decoration: none;
}

h1 a:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  color: #fafdff;
  background-color: #4682b4;
}

h2 {
  font-size: 1.8em;
  margin: .75em 0;
}

h3 {
  font-size: 1.5em;
  margin: .83em 0;
}

h4 {
  font-size: 1.2em;
  margin: 1.25em 0;
}

h5 {
  /* font-size: 1em; */
  margin: 1.5em 0;
}

h6 {
  font-size: .75em;
  margin: 1.67em 0;
}

/* For code references */
.code-highlighted {
  background-color: #2b2b2b;
}

/*
 * `org-export-html-style'
 * you should consider to include definitions for the following classes:
 * title, todo, done, timestamp, timestamp-kwd, tag, target.
 *
 *      .title { text-align: center; }
 *      .todo, .timestamp-kwd { color: red; }
 *      .done { color: green; }
 */
/* DEFAULT CSS STYLE
 * html { font-family: Times, serif; font-size: 12pt; }
 * .title  { text-align: center; }
 * .todo   { color: red; }
 * .done   { color: green; }
 * .tag    { background-color: #add8e6; font-weight:normal }
 * .target { }
 * .timestamp { color: #bebebe; }
 * .timestamp-kwd { color: #5f9ea0; }
 * .right  {margin-left:auto; margin-right:0px;  text-align:right;}
 * .left   {margin-left:0px;  margin-right:auto; text-align:left;}
 * .center {margin-left:auto; margin-right:auto; text-align:center;}
 * p.verse { margin-left: 3% }
 * pre {
 *     border: 1pt solid #AEBDCC;
 *     background-color: #F3F5F7;
 *     padding: 5pt;
 *     font-family: courier, monospace;
 *     font-size: 90%;
 *     overflow:auto;
 * }
 * table { border-collapse: collapse; }
 * td, th { vertical-align: top;  }
 * th.right  { text-align:center;  }
 * th.left   { text-align:center;   }
 * th.center { text-align:center; }
 * td.right  { text-align:right;  }
 * td.left   { text-align:left;   }
 * td.center { text-align:center; }
 * dt { font-weight: bold; }
 * div.figure { padding: 0.5em; }
 * div.figure p { text-align: center; }
 * textarea { overflow-x: auto; }
 * .linenr { font-size:smaller }
 * .code-highlighted {background-color:#ffff00;}
 * .org-info-js_info-navigation { border-style:none; }
 * #org-info-js_console-label { font-size:10px; font-weight:bold;
 *                              white-space:nowrap; }
 * .org-info-js_search-highlight {background-color:#ffff00; color:#000000;
 *                                font-weight:bold; }
 */
/*
 * Lists
 * TODO:
 * Faire un truc avec le hover, plus on est dans le hover plus on a
 * une opacité faible, au final ça permettrait de voir les différents
 * niveau de 'nesting'
 */
article {
  /*
   * While going deeply in the item list the background is darker.
   * See
   * http://stackoverflow.com/questions/806000/css-semi-transparent-background-but-not-text
   */
  /* Definitions */
}
article ul, article ol {
  margin-top: -10px;
  padding: 5px;
}
article li {
  margin-left: 20px;
  padding: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
article li:hover {
  /* Fallback for web browsers that doesn't support RGBa */
  background: white transparent;
  /* RGBa with 0.05 opacity */
  background: rgba(68, 119, 170, 0.05);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#084477aa, endColorstr=#084477aa);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#084477aa, endColorstr=#084477aa)";
}
article li ul, article li ol {
  margin-top: 0px;
}
article ul li {
  list-style-type: circle;
}
article ol li,
article ol li li li {
  list-style-type: decimal;
}
article ol li li,
article ol li li li li {
  list-style: lower-latin;
}
article dl {
  margin: 5px 10px;
}
article dt {
  font-size: 1.1em;
  font-weight: bold;
  padding: 5px;
}
article dd {
  padding-left: 20px;
  padding-bottom: 10px;
}
article .prev-and-next {
  margin: 30px 0;
  overflow: hidden;
  height: 30px;
  /* arrows size */
}
article .prev-post {
  width: 40%;
  float: left;
  text-align: left;
}
article .next-post {
  width: 40%;
  float: right;
  text-align: right;
}

/*
 * Tables
 * Vertical minimalist:
 * http://coding.smashingmagazine.com/2008/08/13/top-10-css-table-designs/
 */
table {
  margin: 10px 5%;
  width: 90%;
  text-align: left;
  border-collapse: collapse;
  border-style: hidden;
}

/* table header */
table th {
  padding: 8px 2px;
  font-size: 1.2em;
  border-bottom: 2px solid #4477aa;
}

/* table data */
table td {
  padding: 6px 2px;
}

/* table header row */
/* table body row */
/*
 * FIXME: the font is too big for inline words, in multi-line <p>.\n<code>...</code>..</p>
 * Code chunks
 */
pre, code {
  font-family: 'Inconsolata', monospace;
  font-size: 13pt;
}

pre {
  padding: 0.6em;
  /* without this there is a *ugly* vertical scrollbar */
  margin: 1em 0;
  overflow: auto;
}

code {
  border: solid 1px #ccc;
  color: #454545;
  background-color: #e1f3ff;
  padding: 0 3px;
}

.example {
  background-color: #ccc;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  -ms-border-top-left-radius: 15px;
  -o-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -ms-border-bottom-right-radius: 15px;
  -o-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 255, 0.4) 0 0 20px, rgba(0, 128, 0, 0.2) 0 0 2px 1px inset;
  -moz-box-shadow: rgba(0, 0, 255, 0.4) 0 0 20px, rgba(0, 128, 0, 0.2) 0 0 2px 1px inset;
  box-shadow: rgba(0, 0, 255, 0.4) 0 0 20px, rgba(0, 128, 0, 0.2) 0 0 2px 1px inset;
  border: 1px solid #999;
}

.src {
  background-color: #1a1a1a;
  color: #f5f5f5;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  -ms-border-top-left-radius: 15px;
  -o-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -ms-border-bottom-right-radius: 15px;
  -o-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 255, 0.4) 0 0 20px, rgba(0, 128, 0, 0.2) 0 0 2px 1px inset;
  -moz-box-shadow: rgba(0, 0, 255, 0.4) 0 0 20px, rgba(0, 128, 0, 0.2) 0 0 2px 1px inset;
  box-shadow: rgba(0, 0, 255, 0.4) 0 0 20px, rgba(0, 128, 0, 0.2) 0 0 2px 1px inset;
  border: 2px dashed #61c0ff;
  position: relative;
  line-height: 1.1em;
}

/*
 * http://stackoverflow.com/questions/7192054/create-box-with-title-legend-in-css
 * Mettre du code specific pour IE 6/7 (ie 7 surtout) ? au pire osef si non visible.
 */
.src:before {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0.5em;
  color: #f5f5f5;
  font-weight: bolder;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  opacity: 0.15;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.src:hover:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}

.src-c\+\+:before {
  content: 'C++';
}

.src-emacs-lisp:before {
  content: 'Emacs Lisp';
}

.src-org:before {
  content: 'Org-Mode';
}

.src-gnuplot:before {
  content: 'Gnuplot';
}

.src-ruby:before {
  content: 'Ruby';
}

.src-python:before {
  content: 'Python';
}

.src-java:before {
  content: 'Java';
}

.src-xml:before {
  content: 'XML';
}

.src-message:before {
  content: 'Email';
}

.src-sh:before {
  content: 'Shell';
}

.src-bash:before {
  content: 'Bash';
}

.src-R:before {
  content: 'R';
}

.src-r:before {
  content: 'R';
}

.src-perl:before {
  content: 'Perl';
}

.src-sql:before {
  content: 'SQL';
}

.src-php:before {
  content: 'PHP';
}

/* TODO: date formating see index.html/post.html */
article time {
  font-family: 'Rosario', serif;
  float: left;
  position: relative;
  /* FIXME: 40 in a variable */
  width: 40px;
  left: -70px;
  /* margin-left: -70; */
}

.day {
  color: #86aace;
  font-size: 2.2em;
  font-weight: bold;
  letter-spacing: -0.5px;
  top: 20px;
  display: block;
  position: absolute;
}

.month {
  color: #86aace;
  display: block;
  position: absolute;
  font-size: 1.4em;
  top: -3px;
}

.year {
  color: maroon;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: bold;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  /* FIXME: Test under IE
     filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); */
  /* border-right: 1px solid $beautiful_maroon; */
  top: 13px;
  right: -30px;
  display: block;
  position: absolute;
}

/*
 * Blog posts in index.html
 */
.archive {
  font-family: 'Rosario', serif;
}

.archive ul li {
  list-style-type: none;
  margin: 0;
  margin-right: 15%;
}

.archive ul li:hover {
  background-color: none;
}

.archive a {
  padding: 10px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
}

.archive .title {
  font-size: 1.2em;
  font-style: italic;
}

.archive .date {
  color: #2b2b2b;
  font-style: italic;
  float: right;
}

.archive a:hover .date {
  color: #e8e8e8;
}
