$background_color : #fafdff; /* fff8dc */
$font_color : #2b2b2b;
$title_color : #4682b4;
$beautiful_blue: #4477aa;
$beautiful_maroon: #800000;
$beautiful_green: #77aa99;      /* Picked up in the Org-Mode unicorn logo */
$beautiful_grey: #cccccc;
$url_color : $beautiful_maroon;

@import "compass/reset"
