/*
 * sarcasm-theme.el colors
 */

/* "High" colors */
$sarcasm-black  : #000000;      /* black           */
$sarcasm-white  : #FFFFFF;      /* white           */
$sarcasm-red    : #b22222;      /* firebrick       */
$sarcasm-green  : #32cd32;      /* lime green      */
$sarcasm-blue   : #1c86ee;      /* DodgerBlue2     */
$sarcasm-yellow : #eeee00;      /* yellow2         */
$sarcasm-orange : #ffa500;      /* orange          */
$sarcasm-pink   : #ff1493;      /* deep pink       */
$sarcasm-violet : #b03060;      /* maroon          */
$sarcasm-brown  : #8b4513;      /* saddle brown    */
$sarcasm-grey   : #4d4d4d;      /* gray30          */
$sarcasm-cyan   : #6495ed;      /* cornflower blue */

/* Soft colors */
$sarcasm-soft-black : #1a1a1a;  /* grey10          */
$sarcasm-soft-white : #f5f5f5;  /* white smoke     */
$sarcasm-soft-blue  : #4477aa;
$sarcasm-soft-gold  : #eead0e;  /* DarkGoldenrod2  */

/* Dark colors */
$sarcasm-dark-grey   : #2b2b2b; /* grey17          */
$sarcasm-dark-red    : #8b0000; /* dark red        */
$sarcasm-dark-orange : #d2691e; /* chocolate       */

/* Bright colors */
$sarcasm-bright-grey : #999999; /* grey60          */

$sarcasm-background : $sarcasm-soft-black;
$sarcasm-foreground : $sarcasm-soft-white;
